.collection-item-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  grid-row-gap: 2.5rem;
  justify-items: center;
  padding: 3rem 1rem;
}

.no-items {
  align-items: center;
  display: flex;
  font-weight: 400;
  height: 50%;
  justify-content: center;
  padding: 0 1rem;
}

@media screen and (max-width: 600px) {
  .collection-item-grid {
    padding: 3rem 0;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
